@use 'sass:color';

@use '@material/theme/color-palette';

$background: #000;

@use '@material/theme/index' as theme with (
  $primary: #b700ff,
  $secondary: #7d6a89,
  $surface: #fdb9ed,
  $background: #000000,
  $error: color-palette.$red-900
);

@use '@material/typography/index' as typography;


html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #9f3baa;
}
a:visited {
  color: color.scale(#6c5474, $lightness: -35%);
}
