/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin-bottom: 1.5rem;
}

html {
    min-height: 100vh; /* Look, it's not fixed anymore! */
    display: flex;
    flex-direction: column;
}

body {
  flex-grow: 1;
}

footer {
  top: 100vh;
}
